.createPostContiner {
  width: 800px;
  margin: auto;
  overflow: hidden;
  padding: 0 1rem;
  margin-top: 8rem;
  border: 2px solid #eee;
}

.formGroup {
  margin: 1.2rem 0;
}

.btn {
  display: inline-block;
  background: #f9f9f9;
  color: #333;
  padding: 0.4rem 1.3rem;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1 rem;
  margin-right: 0.5rem;
  outline: none;
  transition: all 0.2s ease-in;
}

.btn:hover {
  background: #333;
  color: #f9f9f9;
}

.btnPrimary {
  background-color: #2f89fc;
  color: #fff;
}

.btnPrimary:hover {
  background-color: #589ffb;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-family: inherit;
}