.btn {
  display: inline-block;
  background: #f9f9f9;
  color: #333;
  width: 100%;
  padding: 0.4rem 1.3rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1 rem;
  margin-right: 0.5rem;
  outline: none;
  transition: all 0.2s ease-in;
}

.btn:hover {
  background: #333;
  color: #f9f9f9;
}

.btnPrimary {
  background-color: #2f89fc;
  color: #fff;
}

.btnPrimary:hover {
  background-color: #589ffb;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-family: inherit;
}

.linkBox {
  width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 1rem;
  margin-top: 5rem;
}

.mainContainer {
  width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 1rem;
  margin-top: 1rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(230, 230, 230, 0.75);
}

.content {
  width: 800px;
  margin: auto;
  position: absolute;
  top: 5rem;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 5px;
  outline: none;
  padding: 20px;
}