.postContainer {
  display: grid;
  grid-template-rows: 2fr 1fr;
  gap: 2rem;
  border: 2px solid #eeeeee;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 2rem;
  background-color: #fff;
}

.topPostContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 0.5rem;
}

.bottomPostContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid #2f89fc;
  padding: 0.5rem;
}

.leftPostSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.postImage {
  height: 425px;
  width: auto;
}

.rightPostSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottomLeftPostSide {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-left: 2.8rem;
}

.profilePicture {
  width: auto;
  height: 50px;
  border-radius: 50%;
}

.profileLink {
  color: #2f89fc;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.bottomRightPostSide {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  margin-left: 3.4rem;
}

.likeElement {
  background-color: #2f89fc;
  border-radius: 5px;
  padding: 0 0.8rem;
  color: #fff;
}

.btn {
  display: inline-block;
  background: #f9f9f9;
  color: #333;
  padding: 0.4rem 1.3rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1 rem;
  margin-right: 0.5rem;
  outline: none;
  transition: all 0.2s ease-in;
}

.btn:hover {
  background: #333;
  color: #f9f9f9;
}

.btnPrimary {
  background-color: #2f89fc;
  color: #fff;
}

.btnPrimary:hover {
  background-color: #589ffb;
}